.section {
  text-align: center;
  color: rgb(45, 42, 60);
}

.section h2 {
  padding-bottom: 2rem;
  font-size: 35px;
}
.section h1 {
  padding-top: 2rem;
  font-size: 60px;
}

.image img {
  width: 300px;
  height: 350px;
  border-radius: 15px;
}
