.section {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(45, 42, 60);
  margin: auto;
  max-height: 20vh;
}

.section h1 {
  padding-top: 1vh;
  font-size: 3.6rem;
  margin: 0;
}
.section h2 {
  padding-top: 4vh;
  padding-bottom: 2vh;
  font-size: 2rem;
  margin: 0;
}

.image img {
  max-width: 25%;
  height: 90%;
  display: block;
  margin: auto;
  border-radius: 12%;
  padding-bottom: 4vh;
  padding-top: 3vh;
}

@media screen and (max-width: 600px) {
  img {
    width: 16%;
    border-radius: 10px;
    padding-bottom: 0%;
    padding-top: 0;
  }
}

@media screen and (max-width: 1800px) {
  img {
    width: 14%;
    border-radius: 10px;
    padding-bottom: 2vh;
  }
  .section h1 {
    padding-top: 1vh;
    font-size: 3rem;
    margin: 0;
  }
  .section h2 {
    padding-top: 3vh;
    padding-bottom: 1vh;
    font-size: 1.8rem;
    margin: 0;
  }
}
