* {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  min-height: 100hv;
}
:root {
  --color-navy: rgb(72, 67, 92);
  --margin-top: 3rem;
}

.size {
  min-height: 100hv;
  width: 80%;
  margin: auto;
  margin-top: var(--margin-top);
  display: flex;
  flex-direction: column;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url(https://images.squarespace-cdn.com/content/v1/5a0004c5f9a61ec49a02c7bb/1510549721494-GNJQRE65UYGLXIBNRWH2/_O3A0001.jpg?format=1500w);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  filter: blur(4px);
}

h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.8rem;
}
p {
  color: var(--color-navy);
  font-size: smaller;
  text-align: justify;
}
