.wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 4px 4px;
  border-radius: 15px;
  position: relative;
  width: 80%;
  margin: auto;
  background-color: white;
}

.input {
  width: 100%;
  border: none;
  outline: none;
  margin: 0px;
  font-size: x-large;
  border-radius: 7px;
  /* padding: 5px; */
}

.valid {
  border: none;
}

.valid i {
  color: green;
}
.invalid {
  border: 1px solid red;
  color: red;
}
.text {
  color: red;
}
p {
  margin-top: 0;
  margin-bottom: 5px;
  color: rgb(199, 15, 15);
}
.warning {
  font-size: larger;
}
