.button {
  border: 1px solid;
  border-radius: 30px;
  padding: 1rem, 1rem;
  color: rgb(72, 67, 92);
  background-color: rgb(118, 97, 62);
  background-color: rgb(202, 182, 149);
  font-size: large;
  width: 15rem;
  height: 3rem;
}

.button:hover {
  opacity: 0.9;
  cursor: pointer;
  color: rgb(202, 182, 149);
  background-color: rgb(72, 67, 92);
}

.buttonColor {
  background-image: linear-gradient(
    to right,
    rgb(255, 115, 0),
    rgb(255, 64, 0)
  );
  color: white;
  width: 100;
  margin-top: 1rem;
}

.modalCancel {
  width: 10rem;
  height: 3rem;
}
