.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  color: rgb(72, 67, 92);
}

.logo {
  width: 70px;
  display: flex;
}
.logo h3 {
  text-align: left;
  align-self: center;
}
.logoImg {
  width: 80px;
  border-radius: 50%;
  padding-right: 1.5rem;
}

.aTag {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.aTag a {
  text-decoration: none;
  color: rgb(72, 67, 92);
  font-size: 20px;
  align-items: baseline;
  padding-right: 2rem;
}
